<div class="nav-view" ui-view="nav"></div>
<div class="main account">
  <navbar-toggle></navbar-toggle>
  <div class="account-image-container box">
      <!--<div class="account-image"></div>-->
      <img class="account-image" gravatar-src="account.accountCreds.email" gravatar-size="250">
  </div>

  <div class="account-user-info-container box">
    <h2>{{account.accountCreds.name}}</h2>
    <p><i class="fa fa-map-marker account-user-info-marker"></i> &nbsp;{{account.accountCreds.location}}<p>
    <p><i class="fa fa-envelope account-user-info-mail"></i> &nbsp;{{account.accountCreds.email}}<p>
    <a ui-sref="your-books"><button class=""><i class="fa fa-book account-user-info-mail"></i> Books</button></a>
  </div>

  <div class="account-update-info-container box">
    <h3>Update Info</h3>
    <form ng-submit="account.updateAccountInfo()" class="account-update-info-form">
      <input type="text" ng-model="account.accountInfo.name" class="account-update-info-form-name" placeholder="Name">
      <input type="text" ng-model="account.accountInfo.location" class="account-update-info-form-location" placeholder="Location">
      <input type="text" ng-model="account.accountInfo.email" class="account-update-info-form-email" placeholder="Email">
      <input type="submit" class="account-update-info-form-submit" value="Update">
    </form>
  </div>

  <div class="account-delete-container box">
    <h3>Better call Kenny Loggins...</h3>
    <button class="account-delete-container-button">Delete Account?</button>
    <h3>Cause you're in the <strong>Danger</strong> Zone!</h3>
  </div>

</div>
