<div class="main-container">
  <div class="auth-container">
    <div class="intro-logo-container"><span class="fa fa-book"></span></div>
    <div ng-if="authenticate.error" class="errorMessage">{{authenticate.errorMessage}}</div>
    <form ng-submit="authenticate.login()" class="auth-container-login">
      <input ng-model="authenticate.user.email" class="auth-container-login-email" type="text" placeholder="&#xf1fa; &nbsp;Email"><br>
      <input ng-model="authenticate.user.password" class="auth-container-login-password" type="password" placeholder="&#xf023; &nbsp;Password"><br>
      <input type="submit" class="auth-container-login-submit" value="Login">
    </form>
  </div>
</div>
