<div class="nav-view" ui-view="nav"></div>

<div class="main library">
  <navbar-toggle></navbar-toggle>
    <div class="library-intro-container">
      <div class="library-intro">
        <h1>&nbsp;<i class="fa fa-bank"></i> &nbsp;Library</h1>
        <p class="library-intro-text">Welcome to the Library. &nbsp;Click on a book to request a swap!</p>
      </div>
  </div>

  <!-- book component -->
  <div class="book-component-wrapper">
    <div ng-repeat="book in library.libraryBooks" class="book-container">
      <a ui-sref="user({id:book.owner, book_id:book._id})"><book-directive book="book"></book-directive></a>
    </div>
  </div>

</div>
