<div class="nav-view" ui-view="nav"></div>
<div class="main inbox">
  <navbar-toggle></navbar-toggle>

  <h2>Swap requests for you</h2>
  <div class="swap-container">
      <!--ng repeat -->
      <p ng-if="inbox.noRequests">{{inbox.noRequestMessage}}<p>
      <div class="swap" ng-repeat="request in inbox.bookRequests | filter: {isUsersRequest: true}">
          <ul class="swap-content">
            <li>From: <strong>{{request.from}}</strong></li>
               <li><strong>{{request.requestedBook}}</strong></li>
               <li><i style="padding-left: 35px" class="fa fa-refresh"></i></li>
               <li><strong>{{request.swapFor}}</strong></li>
               <button ng-show="!request.approved" ng-click="inbox.approve($index)" class="swap-content-approve">Approve?</button>
               <li ng-hide="!request.approved"><i class="fa fa-check"></i>Approved</li>
              <span class="swap-content-close fa fa-close"></span>
          </ul>
      </div>

  </div>
  <h2>Your outstanding swap requests</h2>
  <div class="swap-container">
      <!--ng repeat -->
      <p ng-if="inbox.noRequests">{{inbox.noRequestMessage}}<p>
      <div class="swap" ng-repeat="request in inbox.bookRequests | filter:{isUsersRequest: false}">
          <ul class="swap-content">
            <li>User: <strong>{{request.to}}</strong></li>
            <li>Book: <strong>{{request.requestedBook}}</strong></li>
            <li ng-show="!request.approved">Status: Pending ...</li>
            <li ng-hide="!request.approved">Approved!</li>
            <span class="swap-content-close fa fa-close"></span>
          </ul>
      </div>
  </div>

</div><!--end main -->
