<div class="nav-view" ui-view="nav"></div>
<div class="main your-books">
  <navbar-toggle></navbar-toggle>

  <div class="your-books-add-container">
    <div class="your-books-add-container-form">
      <h1><i class="fa fa-plus"></i> Add a Book</h1>
      <form ng-submit="books.addBook()" class="your-books-add-container-form">
        <input ng-model="books.book.title" class="your-books-add-container-form-title" type="text" placeholder="Book Title">
        <input class="your-books-add-container-form-submit" type="submit" value="Add">
      </form>
    </div>
  </div>

  <h1>&nbsp;My books</h1>
  <!-- Book Component -->
  <div class="book-component-wrapper">
    <div ng-repeat="book in books.yourBooks" class="book-container">
      <book-directive ng-click="books.deleteBook($index)" book="book"></book-directive>
    </div>
  </div>
</div>
