/* ===============  VARIABLES  ================ */
@import "variables/breakpoints.scss";
/* ===============  MIXINS  =================== */
@import "mixins/default_link_styles.scss";
@import "mixins/media_queries.scss";
@import "mixins/transform_prefixes.scss";

/*  ==============  HOUSEKEEP/DEFAULT STYLES == */
html,body,main{
  width:100%;
  height:100%;
  margin:0;
}

body{
  @include break(lg) {
    display: flex;
    flex-flow: row nowrap;
  }
}

img,embed,video{
  max-width: 100%;
}

a{
    @include link_styles;
  &:visited{
    @include link_styles;
  }
  &:clicked{
    @include link_styles;
  }
  &:hover{
    @include link_styles;
  }
}

/* =============== DRAWER NAVIGATION ================== */
.drawer-nav{
  background-color: rgb(10, 1, 114);
  height:100%;
  width: 300px;
  position: absolute;
  @include transform-translate(-300px,0);
  transition: transform 0.3s ease;
  @include break(lg) {
    position: relative;
    transform: translate(0,0);
  }
}

.js-drawer-nav-open{
  @include transform-translate(0,0);
}

/* ================  MAIN DIV  ======================== */
.main{
  @include break(lg) {
      flex-grow: 1;
  };
}
