<nav class="drawer-nav">
    <div class="drawer-nav-profile"><span class="fa fa-user"></span></div>
    <h1>Hi Vinny!</h1><br>
    <p><a ui-sref="home"><span class="fa fa-home"></span> &nbsp;Home</a></p><br>
    <p class="drawer-nav-profile-inbox"><a ui-sref="inbox"><span class="fa fa-envelope"><i class="drawer-nav-profile-inbox-alert"></i></span> &nbsp;Inbox (34)</a></p><br>
    <p><a ui-sref="account"><span class="fa fa-book"></span> &nbsp;Your Books</a></p><br>
    <p><a ui-sref="account"><span class="fa fa-gears"></span> &nbsp;Your Account</a></p>
    <p class="drawer-nav-creator">
      <span class="fa fa-book"></span> Book App<br>
      <a href="https://github.com/vinnyA3" target="_blank">@ vinnyA3</a>
    </p>
</nav>
