
/* =============  ACCOUNT VIEW STYLES  =============== */
.account{
  display: flex;
  flex-wrap: wrap;
}
  .box{
    padding:8px;
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
    @include break(lg-plus) {
      margin-bottom: 0px;
      text-align: left;
      width: 50%
    }
  }
  .account-image-container{
    padding:8px;
    text-align: center;
  }
  .account-image{
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(#000, .25);
  }

  .account-image-button{
    @include main-button;
  }

  .account-user-info-container{
    text-align: center;
  }
      .account-user-info{
        background: #fff;
        padding: 20px 0px 20px 0px;
        border-radius: 6px;
        box-shadow: 0px 2px 1.5px rgba(0,0,0,0.4);
      }
      .account-user-info-marker{
        color:red;
      }
      .account-user-info-mail{
        color: rgb(177, 173, 255);
      }
      .account-user-info-button{
        @include main-button;
      }

    /*  UPDATE INFO */
    .account-update-info{
      width:100%;
      height: 250px;
      position: relative;
      padding:60px 12px 12px 12px;
      background: #fff;
      border-radius: 6px;
      box-shadow: 0px 2px 1.5px rgba(0,0,0,0.4);
      text-align: left;
    }
      .account-update-info-bar{
        @include colored-bar(rgb(63, 60, 112), rgb(63, 60, 112));
      }
      .account-update-info-form{
        width: 100%;
      }

      .account-update-info-form input[type="text"]{
        height: 35px;
        width: 100%;
        padding-left: 8px;
        border: 1px solid #cccccc;
        border-radius: 2px;
        margin-bottom: 12px;
      }
      .account-update-info-form input[type="submit"]{
        @include main-button;
      }
      .account-update-info form input:focus{
        outline: rgba(0, 153, 204, 0.3) solid 1px;
      }

    /* Delete Account !! */
      .account-delete{
        width:100%;
        height: 250px;
        padding:60px 12px 12px 12px;
        position: relative;
        padding-left: 8px;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0px 2px 1.5px rgba(0,0,0,0.4);
        text-align: left;
      }
      .account-delete-bar{
        @include colored-bar(rgb(191, 13, 13), rgb(191, 13, 13));
      }
      .account-delete-container-button{
        padding: 8px;
        border:none;
        background: rgb(229, 22, 22);
        color: white;
        font-weight: bold;
        border-radius:2px;
        transition: all 0.4s ease;
        &:hover{
          cursor: pointer;
          background: rgb(191, 13, 13);
          box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
        }
      }
