.main-container{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url('../../assets/images/stack_of_books.jpg');
  background-position: center;
  background-size: cover;
}
  .errorMessage{
    width: 90%;
    padding:8px;
    text-align: center;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(188, 9, 9);
    color: white;
    font-weight: bold;
  }
  .auth-container{
    width: 85%;
    padding: 40px 5px 60px 5px;
    margin:0 auto;
    border-radius: 2px;
    box-shadow: 2px 2px 8px 3px rgba(0,0,0,0.7);
    margin-top: 20%;
    text-align: center;
    background: rgb(234, 234, 234);
    @include break(md) {
      margin-top: 10%;
      padding: 40px 20px 60px 20px;
      width: 65%;
    }

  }
    .auth-container-login{
      width: 100%;
    }
      .auth-container-login input{
         width: 90%;
         height: 43px;
         margin-bottom: 20px;
         padding-left: 8px;
         font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
      }
      .auth-container-login-submit{
         background: rgb(36, 34, 73);
         padding: 17px;
         border:none;
         color: white;
         font-weight: bolder;
         transition: all 0.4s ease;
         &:hover{
           cursor: pointer;
           background: rgb(50, 48, 94);
         }
      }
      .authenticate-switch-text{
        display:block;
      }
        .authenticate-switch-text-link{
           color: rgb(36, 34, 73);
           font-weight: bolder;
           text-decoration: underline;
           &:hover{
             cursor: pointer;
           }
        }
