/* =============  ACCOUNT VIEW STYLES  =============== */
.account{
  display: flex;
  flex-wrap: wrap;
}
  .box{
    width: 100%;
    height: 250px;
  }
  .account-image-container{
    padding:8px;
    text-align: center;
    @include break(lg) {
      text-align: justify;
      width: 50%;
    }
  }
  .account-image{
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(#000, .25);
  }

  .account-user-info-container{
    text-align: center;
    padding:8px;
    @include break(lg) {
      width: 50%
    }
  }
    .account-user-info-marker{
      color:red;
    }
    .account-user-info-mail{
      color: rgb(177, 173, 255);
    }


    /*  UPDATE INFO */
    .account-update-info-container{
      padding:8px;
      text-align: center;
      width: 100%;
      @include break(lg) {
        text-align: left;
        width: 50%
      }
    }
      .account-update-info-form{
        width: 100%;
      }
      .account-update-info-form input[type="text"]{
        height: 35px;
        width: 100%;
        padding-left: 8px;
        border: 1px solid #cccccc;
        border-radius: 2px;
        margin-bottom: 12px;
      }
      .account-update-info-form input[type="submit"]{
        width: 30%;
        height: 35px;
        border: none;
        border-radius: 2px;
        font-weight: bold;
        transition: all 0.4s ease;
        &:hover{
          cursor: pointer;
          background: #242249;
          color: white;
        }
      }

    /* Delete Account !! */
    .account-delete-container{
      width: 100%;
      padding: 8px;
      text-align: center;
      margin-top: 70px;
      @include break(md) {
        text-align: right;
        margin: 0;
        width: 50%;
      }
    }
      .account-delete-container-button{
        padding: 8px;
        border:none;
        background: rgb(229, 22, 22);
        color: white;
        font-weight: bold;
        border-radius:2px;
        transition: all 0.4s ease;
        &:hover{
          cursor: pointer;
          background: rgb(191, 13, 13);
          box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
        }
      }
